
.eclipse
.idea
.bsp
/target
.gradle

# sbt
.cache
.lib/
dist/*
lib_managed/
src_managed/
project/boot/
project/plugins/project/
project/project/
project/target/*
logs/
project/.sbtserver
.sbtserver/

# kafka container data
kafka/zk-single-kafka-single/*

# application data
src/main/scala/streams/out.txt
src/test/scala/streams/out.txt